.header {
  height: 50px;
  border-bottom: 1px solid rgb(128, 60, 60);
}
.header_container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menu {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.header_title {
  color: black;
  text-decoration: none;
}
.header_login {
  margin: 0 5px;
  color: black;
  text-decoration: none;
}
